@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

h1 {
    font-family: "Lobster", serif;
    font-weight: bolder;
    color: white;
    font-size: 5rem;
}


.bg-image {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -5;
    background-image: url("images/background1.jpg");
    background-position: center;
    filter: brightness(70%);
    background-size: cover;
}


.keys {
    width: 100%;
    font-family: "Bungee", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 8em;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: .5em;
    transition: all 0.2s;
}

.key kbd {
    font-weight: bold;
    color: white;
    font-size: 2.5em;
}

.sound {
    color: orange;
}

.playing {
    transform: scale(1.2);
    border: 5px solid rgb(255, 102, 0);
    box-shadow: 0px 0px 16px 14px rgba(255, 102, 0, 0.1);
    transition: all 0.2s;
}

.credit {
    color: white;
    font-family: "Lobster", serif;
}

.credit a,
.credit a:visited,
.credit a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


@media (max-width:432px) {
    body {
        background-image: url("images/background2.jpg")
    }

    h1 {
        font-size: 3em;
    }

    .bg-image {
        background-image: none;
    }

    .keys {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1em;
    }

    .key {
        margin: 2em 0;
        width: 5em;
        height: 5em;
    }
}